.form input[type="search"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .form button[type="submit"] {  
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
   
  .form button[type="submit"]:hover{  
    background-color: green;
    color: white;
    
  }